#heatmap{
    flex-direction: column;
    display: inline-flex;
    /*
    height: 84px;
    width: 15px;
    */
    flex-wrap: wrap;
}
body{
    /*background-color: #0d1117;*/
}
.entry{
    display: inline-block;
    border-radius: 2px;
    margin: 1px;
}
